@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'rubik';
    font-weight: 400;
}
body{
    background: #f1f1f1;
}
/* navbar */
.navbar{
    width: 100px;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    transition: width 200ms;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar:hover{
    width: 234px;
}
.navbar__logo{
    padding: 0 5px;
}
.navbar__logo img{
    width: 60px;
}
.navbar__user img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.navbar__list a{
    display: flex;
    align-items: center;
    width: 234px;
    margin: 27.5px 0;
    color: #939393;
    fill: #939393;
    font-size: 18px;
    line-height: 21px;
    padding: 0 15px;
}
.navbar__list a:hover{
    color: #2A86B1;
    fill: #2A86B1;
}
.navbar__list svg{
    width: 40px;
    height: 46px;
    margin-right: 32px;
}
/* header */
.header{
    max-width: 1110px;
    width: 95%;
    height: 500px;
    border-radius: 14px;
    margin: 30px auto 0;
    background: #ffffff url('../images/bg.png') no-repeat center center / cover;
    padding: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header h1{
    max-width: 332px;
    font-size: 50px;
    line-height: 59px;
    color: #464748;
    font-weight: 700;
}
.header p{
    width: 314px;
    font-size: 16px;
    line-height: 19px;
    color: #696868;
    text-align: justify;
    margin: 25px 0;
}
.read-more{
    padding: 7px 62px;
    background: #3FA5D5;
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
/* cards */
.cards{
    max-width: 1110px;
    width: 95%;
    min-height: 200px;
    margin: 30px auto 0;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}
.card{
    width: 23%;
    padding: 32px 18px 19px;
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card img{
    width: 100px;
    margin: 43px 0 61px;
}
.card h3{
    width: min-content;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #2A86B1;
}
/* content */
.content{
    max-width: 1110px;
    width: 95%;
    margin: 48px auto 29px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content__info{
    width: 75%;
}
.content__services{
    width: 23%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content h2{
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color:#686868;
    margin-bottom: 22px;
    padding-left: 19px;
}
.content__info p{
    padding: 15px;
    background: #ffffff;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19px;
    color: #545454;
}
.item{
    width: 100%;
    min-height: 50px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.item img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin-right: 15px;
}
.item__text h4{
    font-size: 17px;
    line-height: 16px;
    margin-bottom: 5px;
    color: #323232;
}
.item__text p{
    color: #000000;
    font-size: 14px;
    line-height: 13px;
    font-weight: 300;
}
/* footer */
.footer{
    width: 100%;
    padding: 40px 0;
    background: #3FA5D5;
}
.footer__center{
    max-width: 1110px;
    width: 95%;
    min-height: 40px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__center--logo{
    font-size: 50px;
    line-height: 59px;
    color: #ffffff;
    font-weight: 700;
}
.footer__center--contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.phone{
    color: #ffffff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}
.email{
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

@media (max-width: 1400px) {
    .header{
        height: 400px;
    }
    .footer__center,
    .content,
    .cards,
    .header{
        max-width: 960px;
    }
}
@media (max-width: 1200px) {
    .header{
        height: 400px;
    }
    .footer__center,
    .content,
    .cards,
    .header{
        max-width: 740px;
    }
    .card{
        width: 48%;
    }
    .content__info,
    .content__services{
        width: 100%;
    }
    .item{
        width: 48%;
    }
    .content h2{
        text-align: center;
    }
}
@media (max-width: 992px) {
    .navbar,
    .navbar:hover{
        max-width: 740px;
        width: 95%;
        position: unset;
        min-height: unset;
        margin: 0 auto;
        flex-direction: row;
        border-radius: 0 0 15px 15px;
        transition: unset;
        align-items: center;
        padding: 15px;
    }
    .navbar__list{
        display: flex;
    }
    .navbar__list a{
        width: auto;
        flex-direction: column;
        margin: 0;
    }
    .navbar__list svg{
        margin: 0;
    }
    .header{
        padding: 15px;
    }
}
@media (max-width: 768px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar__list{
        width: 100%;
        order: 1;
        justify-content: center;
        margin-top: 15px;
    }
}
@media (max-width: 576px) {
    .card,
    .item{
        width: 100%;
    }
    .cards{
        gap: 30px;
    }
    .footer__center{
        flex-direction: column;
    }
    .footer__center--contacts{
        align-items: center;
    }
    .footer__center--logo{
        font-size: 40px;
    }
}
@media (max-width: 480px) {
    .navbar__list{
        flex-wrap: wrap;
    }
    .navbar__list li{
        width: 50%;
    }
    .header{
        align-items: center;
        text-align: center;
    }
    .header h1{
        font-size: 40px;
    }
}
@media (max-width: 320px) {}